body {
    background-color:cadetblue
}

.individual {
    background-color: rgb(255, 140, 0);
}

.institutional {
    background-color: chartreuse;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#recycleText {
    display: none;
}