body {
    background-color:rgb(132, 209, 246);
        /* background-color: #86d1f6; */
}

.individual {
    background-color: #86f6aa;
    /*  background-color: rgb(13, 246, 170); */
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px cadetblue;
}

.institutional {
    /*    background-color: #c2f6b6; */
    background-color: rgb(194, 246, 134);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px yellowgreen;
}

.individual-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #80bc2b;
    background-color: #D3FCBD;
    /* background-color: rgb(244, 225, 183); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.institutional-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #80bc2b;
    background-color: #ecef9e;
    /* background-color: rgb(244, 225, 183); */
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #2f4f50;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* CSS that makes buttons' text invisible upon entering site */

#recycleText {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#waterText {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#postText {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#susText {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#voteText {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#boyText {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#orgText {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#repText {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.button {
    background-color: #f1f3bb;
    border: double gray;
    color: gray;
    padding: 0.5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    width: 50%;
    height: auto;
}
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  